name: build docker image and push it to ECR

on:
  workflow_call:
    inputs:
      awsRoleArn:
        description: AWS IAM role ARN
        required: false
        type: string
      useOIDC:
        description: Whether to use OIDC for assume role
        required: false
        type: boolean
        default: false
      githubOIDCRoleArn:
        description: Github OIDC role ARN
        required: false
        type: string
        default: ""
      awsRegion:
        description: AWS region
        required: false
        type: string
        default: us-east-1
      awsSessionDuration:
        description: AWS session duration
        required: false
        type: number
        default: 3600
      imageTag:
        description: Tag given to container image
        required: true
        type: string
      repository:
        description: Container repository
        required: true
        type: string
      registry:
        description: Container registry
        required: true
        type: string
      dockerFilePath:
        description: Path to Dockerfile
        required: false
        type: string
        default: ./deploy/Dockerfile
      slackChannelId:
        description: Slack Channel ID
        required: false
        type: string
      setNodeVersion:
        description: Put NODE_VERSION from path/to/.nvmrc to docker build args
        required: false
        type: boolean
        default: true
      nvmrcPath:
        description: Path to nvmrc file
        required: false
        type: string
        default: .nvmrc
      dockerBuildArgs:
        description: Values for --build-arg argument
        required: false
        type: string
        # This is just a dummy default, so docker does not complain
        default: FOO=BAR
      dockerContext:
        description: Relative path to git context
        required: false
        type: string
        default: '.'
      actorOverride:
        description: Override the author of event
        required: false
        type: string
      runner:
        description: Runner to use
        required: false
        type: string
        default: ubuntu-22.04

    secrets:
      awsAccessKeyId:
        description: AWS access key ID
        required: false
      awsSecretAccessKey:
        description: AWS secret access key
        required: false
      slackToken:
        description: Slack API token
        required: false
      npmToken:
        description: Put NPM_TOKEN to docker build args
        required: false
      buildSecretEnvVars:
        description: |
          Secrets passed to build as secret file.
          See https://docs.docker.com/engine/reference/commandline/buildx_build/#secret
        required: false

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.awsAccessKeyId }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.awsSecretAccessKey }}
  AWS_REGION: ${{ inputs.awsRegion }}

jobs:
  build:
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Send notification to slack
        if: inputs.slackChannelId != ''
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.slackToken }}
        with:
          channel-id: ${{ inputs.slackChannelId }}
          payload: |
            {
              "text": ":large_blue_circle: *${{ github.repository }} build started*",
              "attachments": [
                {
                  "color": "#0066ff",
                  "blocks": [
                    {
                      "type": "section",
                      "fields": [
                        {
                          "type": "mrkdwn",
                          "text": "*Author:* ${{ inputs.actorOverride || github.actor }}"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Revision:* ${{ inputs.imageTag }}"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Details:* <${{ github.event.pull_request.html_url || github.event.head_commit.url }}|trigger>, <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|workflow run>"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Triggered by:* ${{ github.event_name }}"
                        }
                      ]
                    }
                  ]
                }
              ]
            }

      - name: clone repository
        uses: actions/checkout@v6

      - name: set docker build args and secrets
        run: |
          BUILD_ARGS=( ${{ inputs.dockerBuildArgs }} )
          if [ "${{ inputs.setNodeVersion }}" = true ]; then
              BUILD_ARGS+=(NODE_VERSION=$(head -1 ${{ inputs.nvmrcPath }}))
          fi

          echo 'BUILD_ARGS<<EOF' >> $GITHUB_ENV
          printf "%s\n" "${BUILD_ARGS[@]}" >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

          # Create secret file for build
          if [ ! -z "${{ secrets.buildSecretEnvVars }}" ]; then
              echo "${{ secrets.buildSecretEnvVars }}" | tr ',' '\n' > build-secret-env-vars.txt
          fi

      # NOTE: can be useful
      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v2

      - name: setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      # First assume GithubOIDCRole role, the trust relationship between GitHub and AWS is defined in IAM GithubOIDCRole in the organization account. This role has permissions to assume Deployer roles only.
      - name: assume GithubOIDCRole
        if: inputs.useOIDC == true
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ inputs.awsRegion }}
          role-to-assume: ${{ inputs.githubOIDCRoleArn }}
          role-duration-seconds: ${{ inputs.awsSessionDuration }}

          # This parameter is needed otherwise this action is trying to tag session
          # which does not work for cross-account assume
          role-skip-session-tagging: true

      # Then assume Deployer role, which can be assumed by GithubOIDCRole and has all the permissions needed to deploy cloudformation stacks.
      - name: assume Deployer role
        if: inputs.useOIDC == true
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ inputs.awsRegion }}
          role-to-assume: ${{ inputs.awsRoleArn }}
          role-duration-seconds: ${{ inputs.awsSessionDuration }}
          role-chaining: true
          role-skip-session-tagging: true

      - name: login to AWS ECR using OIDC
        if: inputs.useOIDC == true
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: login to AWS ECR
        if: inputs.useOIDC == false
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.AWS_ACCESS_KEY_ID }}
          password: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: build and push
        id: build_and_push
        uses: docker/build-push-action@v5
        with:
          context: ${{ inputs.dockerContext }}
          file: ${{ inputs.dockerFilePath }}
          push: true
          tags: ${{ inputs.registry }}/${{ inputs.repository }}:${{ inputs.imageTag }}
          secret-files: SECRET_ENV_VARS=build-secret-env-vars.txt
          build-args: |
            ${{ env.BUILD_ARGS }}
            NPM_TOKEN=${{ secrets.npmToken }}

      - name: helper - get slack message attachment color
        id: helper
        if: always() && inputs.slackChannelId != ''
        run: |
          if [ "${{ job.status }}" = "success" ]
          then
              echo "color=#00cc00" >> $GITHUB_OUTPUT
              echo "emoji=large_green_circle" >> $GITHUB_OUTPUT
          else
              echo "color=#ff0000" >> $GITHUB_OUTPUT
              echo "emoji=red_circle" >> $GITHUB_OUTPUT
          fi

      - name: send result to slack
        if: always() && inputs.slackChannelId != ''
        uses: slackapi/slack-github-action@v1.26.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.slackToken }}
        with:
          channel-id: ${{ inputs.slackChannelId }}
          payload: |
            {
              "text": ":${{ steps.helper.outputs.emoji }}: *${{ github.repository }} build result: ${{ job.status }}*",
              "attachments": [
                {
                  "color": "${{ steps.helper.outputs.color }}",
                  "blocks": [
                    {
                      "type": "section",
                      "fields": [
                        {
                          "type": "mrkdwn",
                          "text": "*Author:* ${{ inputs.actorOverride || github.actor }}"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Revision:* ${{ inputs.imageTag }}"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Details:* <${{ github.event.pull_request.html_url || github.event.head_commit.url }}|trigger>, <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|workflow run>"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Triggered by:* ${{ github.event_name }}"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
