name: create release

on:
  workflow_call:
    inputs:
      changelogScopes:
        description: 'Changelog scopes (i.e { "App": ["app", "application"] })'
        required: true
        type: string
      slackChannelId:
        description: Slack Channel ID for changelog
        required: false
        type: string
      slackChannelIdForFailureMsg:
        description: Slack Channel ID for failure messages
        required: false
        type: string
      releaseName:
        description: This value overrides release name got from release branch name
        required: false
        type: string
      releaseNamePrefix:
        description: Prepend prefix to releaseName
        required: false 
        type: string
        default: 'v'
    
    secrets:
      slackToken:
        description: Slack API token
        required: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: get changelog
        id: changelog
        uses: apify/release-pr-action@feat/get_changelog_from_pr
        with: 
          slack-token: ${{ secrets.slackToken }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          changelog-scopes: ${{ inputs.changelogScopes }}
          release-name-prefix: ${{ inputs.releaseNamePrefix }}
          slack-channel: ${{ inputs.slackChannelId }}
          changelog-method: pull_request_description
          create-github-release: true

      - name: report failure to slack
        if: failure() && inputs.slackChannelIdForFailureMsg != ''
        uses: slackapi/slack-github-action@v1.23.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.slackToken }}
        with:
          channel-id: ${{ inputs.slackChannelIdForFailureMsg }}
          payload: |
            {
              "text": ":red_circle: *${{ github.repository }} automated release action: ${{ job.status }}*",
              "attachments": [
                {
                  "color": "#ff0000",
                  "blocks": [
                    {
                      "type": "section",
                      "fields": [
                        {
                          "type": "mrkdwn",
                          "text": "*Author:* ${{ inputs.actorOverride || github.actor }}"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Revision:* ${{ inputs.revision }}"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Details:* <${{ github.event.pull_request.html_url || github.event.head_commit.url }}|trigger>, <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|workflow run>"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Triggered by:* ${{ github.event_name }}"
                        }
                      ]
                    }
                  ]
                }
              ]
            }