name: lint github workflows

on:
  workflow_call:
    inputs:
      extraArgs:
        description: Additional extra arguments for actionlint
        required: false
        type: string

env:
  # renovate: datasource=docker depName=rhysd/actionlint
  ACTIONLINT_VERSION: 1.6.26

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: clone repository
        uses: actions/checkout@v4

      - name: lint
        run: |
          # Disabling shellcheck as we are not using it
          docker run \
            -v $(pwd):/repo \
            --workdir /repo \
            --rm \
            rhysd/actionlint:${{ env.ACTIONLINT_VERSION }} \
            -shellcheck="" ${{ inputs.extraArgs }}
