name: cloudformation lint

on:
  workflow_call:
    inputs:
      path:
        description: Path to lint
        required: false
        type: string
        default: ./deploy/cloudformation/**/*.yaml
      ignoreChecks:
        description: Codes to ignore (equivalent to --ignore-checks option)
        required: false
        type: string
        # By default ignore warning about package, as it is part of the deploy_cloudformation workflow anyway
        default: W3002

env:
  # renovate: datasource=pypi depName=cfn-lint
  CFN_LINT_VERSION: 1.45.0

jobs:
  lint:
    runs-on: ubuntu-22.04-arm64
    steps:
      - name: clone repository
        uses: actions/checkout@v6

      - name: install cfn-lint
        run: pip install cfn-lint==${CFN_LINT_VERSION}

      - name: lint
        run: |
          cfn-lint ${{ inputs.path }} \
            --ignore-checks ${{ inputs.ignoreChecks }}
