name: open pull request with changelog

on:
  workflow_call:
    inputs:
      changelogScopes:
        description: 'Changelog scopes (i.e { "App": ["app", "application"] })'
        required: true
        type: string
      baseBranch:
        description: Base branch name
        required: false
        type: string
        default: master

    secrets:
      # If you want to trigger GH workflow run with this you need to provide real user token not secrets.GITHUB_TOKEN
      githubToken:
       description: Github token with read/write permission
       required: true
      openAiToken:
       description: Open AI token
       required: false


jobs:
  # TODO: these steps could be separate wf
  open-pull-request:
    runs-on: ubuntu-22.04-arm64
    steps:
      - name: open release pull-request
        uses: apify/release-pr-action@v3.5.0
        with:
          github-token: ${{ secrets.githubToken }}
          changelog-scopes: ${{ inputs.changelogScopes }}
          base-branch: ${{ inputs.baseBranch }}
          create-release-pull-request: true
          changelog-method: commits_compare
          open-ai-token: ${{ secrets.openAiToken }}
