name: Type check

on:
  workflow_call:
    inputs:
      python-versions:
        description: List of Python versions to be used (stringified JSON array).
        required: true
        type: string
      install_command:
        description: Command to install Python dependencies.
        required: false
        type: string
        default: uv run poe install-dev
      type_check_command:
        description: Command to run type check.
        required: false
        type: string
        default: uv run poe type-check

jobs:
  type_check:
    name: Type check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ${{ fromJSON(inputs.python-versions)}}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv package manager
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: ${{ inputs.install_command }}

      - name: Run type check
        run: ${{ inputs.type_check_command }}
