name: Unit tests

on:
  workflow_call:
    secrets:
      httpbin_url:
        required: false
        description: URL that sets the HTTPBIN_URL environment variable.
      CODECOV_TOKEN:
        required: true
        description: Token for uploading coverage reports to Codecov.
    inputs:
      python-versions:
        description: List of Python versions to be used (stringified JSON array).
        required: true
        type: string
      operating-systems:
        description: List of operating systems to be used.
        required: true
        type: string
      python-version-for-codecov:
        description: Python version to be used for codecov upload.
        required: true
        type: string
      operating-system-for-codecov:
        description: Operating system to be used for codecov upload.
        required: true
        type: string

jobs:
  unit_tests:
    name: Unit tests
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.operating-systems) }}
        python-version: ${{ fromJSON(inputs.python-versions) }}
    runs-on: ${{ matrix.os }}
    env:
      HTTPBIN_URL: ${{ secrets.httpbin_url || 'https://httpbin.org' }}

    steps:
      - name: macOS cleanup
        if: runner.os == 'macOS'
        # Disable Spotlight indexing and try to kill all useless processes that could drain CPU during tests
        run: |
          sudo mdutil -i off /
          sudo killall Finder spindump ecosystemanalyticsd SystemUIServer NotificationCenter mds mds_stores mds_worker mdworker mdworker_shared || true

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv package manager
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: make install-dev

      - name: Run unit tests
        run: make unit-tests-cov

      # Upload coverage only for the ubuntu-latest and latest Python to avoid redundant uploads.
      - name: Upload unit test coverage
        if: ${{ matrix.os == inputs.operating-system-for-codecov && matrix.python-version == inputs.python-version-for-codecov }}
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage-unit.xml
          flags: unit
