name: Integration tests

on:
  workflow_call:
    secrets:
      APIFY_TEST_USER_PYTHON_SDK_API_TOKEN:
        description: Apify API token for the primary Python SDK test user.
        required: true
      APIFY_TEST_USER_2_API_TOKEN:
        description: Apify API token for a secondary test user, used in multi-user scenarios (e.g. sharing restricted storage).
        required: false
      CODECOV_TOKEN:
        required: true
        description: Token for uploading coverage reports to Codecov.
    inputs:
      python-versions:
        description: List of Python versions to be used.
        required: true
        type: string

# Concurrency control to ensure only one instance of this workflow runs at a time.
# This avoids exceeding API usage limits on the test user account.
concurrency:
  group: integration_tests

jobs:
  # Job to run integration tests from the main repository.
  integration_tests:
    name: Integration tests
    runs-on: ubuntu-latest
    # Run this only for PRs from the main repository or for pushes to master. Skip otherwise.
    if: github.event.pull_request.head.repo.owner.login == 'apify' || github.ref == 'refs/heads/master'

    strategy:
      matrix:
        python-version: ${{ fromJSON(inputs.python-versions)}}
      max-parallel: 1 # No parallel tests to avoid exceeding API limits.

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv package manager
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: make install-dev

      - name: Run integration tests
        run: make INTEGRATION_TESTS_CONCURRENCY=8 integration-tests-cov
        env:
          APIFY_TEST_USER_API_TOKEN: ${{ secrets.APIFY_TEST_USER_PYTHON_SDK_API_TOKEN }}
          APIFY_TEST_USER_2_API_TOKEN: ${{ secrets.APIFY_TEST_USER_2_API_TOKEN }}

      # Upload coverage only for the ubuntu-latest and latest Python to avoid redundant uploads.
      - name: Upload integration test coverage
        if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.14'
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage-integration.xml
          flags: integration
