name: Bump version and update changelog

on:
  workflow_call:
    inputs:
      python_version:
        required: false
        type: string
        default: "3.13" # The newest Python version.
      version_number:
        description: Version number of the new release (no leading "v")
        required: true
        type: string
      changelog:
        description: The complete changelog
        required: true
        type: string
    secrets:
      APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN:
        required: true
    outputs:
      changelog_commitish:
        description: Git HEAD after the commit and push
        value: ${{ jobs.bump_and_update_changelog.outputs.changelog_commitish }}

jobs:
  bump_and_update_changelog:
    runs-on: ubuntu-latest
    outputs:
      changelog_commitish: ${{ steps.commit.outputs.commit_long_sha || github.sha }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python_version }}

      - name: Set up uv package manager
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ inputs.python_version }}

      - name: Update package version in pyproject.toml
        shell: bash
        run: |
          new_version="${{ inputs.version_number }}"
          echo "Updating version in pyproject.toml to ${new_version}"
          uv version "${new_version}"

      - name: Update CHANGELOG.md
        uses: DamianReeves/write-file-action@master
        with:
          path: CHANGELOG.md
          write-mode: overwrite
          contents: ${{ inputs.changelog }}

      - name: Commit changes
        id: commit
        uses: EndBug/add-and-commit@v9
        with:
          author_name: Apify Release Bot
          author_email: noreply@apify.com
          message: "chore(release): Update changelog and package version [skip ci]"
