name: Unit tests

on:
  workflow_call:
    secrets:
      httpbin_url:
        required: false
        description: Used to set the HTTPBIN_URL environment variable
    inputs:
      python-versions:
        description: List of Python versions to be used
        required: true
        type: string
      os:
        description: List of operating systems to be used
        default: '["ubuntu-latest", "windows-latest"]'
        required: false
        type: string

jobs:
  unit_tests:
    name: Unit tests
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJSON(inputs.os)}}
        python-version: ${{ fromJSON(inputs.python-versions)}}
    runs-on: ${{ matrix.os }}
    env:
      HTTPBIN_URL: ${{ secrets.httpbin_url || 'https://httpbin.org' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up uv package manager
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: make install-dev

      - name: Run unit tests
        run: make unit-tests
