name: Docs check

on:
  workflow_call:
    secrets:
      APIFY_SIGNING_TOKEN:
        description: Token for signing Apify packages.
        required: false
    inputs:
      python_version:
        description: Python version to use for building docs.
        required: false
        type: string
        default: "3.14"
      node_version:
        description: Node.js version to use for building docs.
        required: false
        type: string
        default: "20"
      install_command:
        description: Command to install Python dependencies.
        required: false
        type: string
        default: uv run poe install-dev
      build_docs_command:
        description: Command to build docs website.
        required: false
        type: string
        default: uv run poe build-docs

jobs:
  docs_check:
    name: Docs check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node_version }}

      - name: Enable corepack
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python_version }}

      - name: Set up uv package manager
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ inputs.python_version }}

      - name: Install Python dependencies
        run: ${{ inputs.install_command }}

      - name: Build docs website
        run: ${{ inputs.build_docs_command }}
        env:
          APIFY_SIGNING_TOKEN: ${{ secrets.APIFY_SIGNING_TOKEN }}
