# Marks release in Grafana and/or Sentry
name: release marker

on:
  workflow_call:
    inputs:
      revision:
        description: Revision that will be marked
        required: true
        type: string
      sentryOrg:
        description: Sentry Organization
        required: false
        type: string
      sentryProject:
        description: Sentry project
        required: false
        type: string
      sentryEnvironmentFrontend:
        description: Sentry environment
        required: false
        type: string
      sentryEnvironmentBackend:
        description: Sentry environment
        required: false
        type: string
      slackChannelId:
        description: Slack Channel ID
        required: false
        type: string
      actorOverride:
        description: Override the author of event
        required: false
        type: string
      environment:
        description: Environment
        required: false
        type: string
      grafanaAnnotationTag:
        description: Custom annotation tag
        required: false
        type: string
        default: 'default'

    secrets:
      sentryAuthToken:
        description: Sentry authentication token
        required: false
      slackToken:
        description: Slack API token
        required: false
      grafanaApiToken:
        description: Slack API token
        required: false

jobs:
  grafana:
    if: inputs.revision != ''
    runs-on: ubuntu-22.04-arm64
    steps:
      - name: mark release
        uses: frankie567/grafana-annotation-action@v1.0.3
        with:
          apiHost: https://grafana.apify.dev
          apiToken: ${{ secrets.grafanaApiToken}}
          text: ${{ inputs.environment }} - Deployment of ${{ inputs.revision }}
          tags: deployment,github,${{ inputs.environment }},${{ inputs.grafanaAnnotationTag }}

  sentry:
    if: inputs.sentryOrg != ''
    runs-on: ubuntu-22.04-arm64
    steps:
      - name: checkout repository
        uses: actions/checkout@v6

      - name: mark deploy - frontend
        if: inputs.sentryEnvironmentFrontend != ''
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.sentryAuthToken }}
          SENTRY_ORG: ${{ inputs.sentryOrg }}
          SENTRY_PROJECT: ${{ inputs.sentryProject }}
        with:
          environment: ${{ inputs.sentryEnvironmentFrontend }}

      - name: mark deploy - backend
        if: inputs.sentryEnvironmentBackend != ''
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.sentryAuthToken }}
          SENTRY_ORG: ${{ inputs.sentryOrg }}
          SENTRY_PROJECT: ${{ inputs.sentryProject }}
        with:
          environment: ${{ inputs.sentryEnvironmentBackend }}

  slack_notification_failure:
    if: failure() && inputs.slackChannelId != ''
    needs:
      - grafana
      - sentry
    uses: ./.github/workflows/slack.yaml
    with:
      slackChannelId: ${{ inputs.slackChannelId }}
      subject: "marking release in new Grafana/sentry failed"
      revision: ${{ inputs.revision }}
      actorOverride: ${{ inputs.actorOverride }}
      jobStatus: failure
    secrets:
      slackToken: ${{ secrets.slackToken }}
