name: sync branches

on:
  workflow_call:
    inputs:
      slackChannelId:
        description: Slack Channel ID
        required: true
        type: string
      revision:
        description: Tag given to container image
        required: true
        type: string
      baseBranch:
        description: Branch that will be synchronized with current branch
        required: false
        type: string
        default: develop
    
    secrets:
      slackToken:
        description: Slack API token
        required: true
    
jobs:
  pull_request:
    runs-on: ubuntu-latest
    steps:
      - name: open and merge pull request
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            let headBranch = '';
            const eventName = process.env.GITHUB_EVENT_NAME;
            if (eventName === 'pull_request') {
                headBranch = process.env.GITHUB_BASE_REF;
            } else if (eventName === 'push') || (eventName === 'workflow_dispatch') {
                headBranch = process.env.GITHUB_REF_NAME;
            } else {
                throw new Error(`Don't know how to handle event name: ${eventName}`);            
            }

            const createResp = await github.rest.pulls.create({
                owner: context.repo.owner,
                repo: context.repo.repo,
                head: headBranch,
                base: '${{ inputs.baseBranch }}',
                title: 'chore: backport changes from ${headBranch} to ${{ inputs.baseBranch }} [ignore]'
            });

            const pullRequestNumber = createResp.data.number;

            await github.rest.pulls.merge({
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: pullRequestNumber,
            });

      - name: report failure to slack
        if: ${{ failure() }}
        uses: slackapi/slack-github-action@v1.19.0
        env:
          SLACK_BOT_TOKEN: ${{ secrets.slackToken }}
        with:
          channel-id: ${{ inputs.slackChannelId }}
          payload: |
            {
              "text": ":red_circle: *${{ github.repository }} syncing ${{ github.base_ref }} to ${{ inputs.baseBranch }}: ${{ job.status }}*",
              "attachments": [
                {
                  "color": "#ff0000",
                  "blocks": [
                    {
                      "type": "section",
                      "fields": [
                        {
                          "type": "mrkdwn",
                          "text": "*Author:* ${{ inputs.actorOverride || github.actor }}"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Revision:* ${{ inputs.revision }}"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Details:* <${{ github.event.pull_request.html_url || github.event.head_commit.url }}|trigger>, <https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}|workflow run>"
                        },
                        {
                          "type": "mrkdwn",
                          "text": "*Triggered by:* ${{ github.event_name }}"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
